html {
  font-size: 16px;
}

.layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 1rem 2rem 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
}

.header .logo {
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.header h1 {
  margin: 0.2em 0;
  font-size: 2em;
}

h1,
h2 {
  font-weight: 300;
}

.header h2 {
  color: #848484;
  padding: 0;
  margin-top: 0;
}

.diccionary .pure-button {
  font-size: 115%;
}

.total {
  text-align: center;
}

.pure-button[disabled] {
  opacity: 1;
}

.diccionary {
  text-align: center;
  margin: 0;
  padding: 0;
}

.diccionary li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.diccionary .pure-button-primary {
  margin-left: 1rem;
}

.translate-actions {
  text-align: center;
  margin-bottom: 1rem;
}

.actions {
  margin-bottom: 2rem;
}

.actions fieldset {
  padding: 0;
}

.footer {
  padding: 2rem;
  text-align: center;
  border-top: solid 1px #eee;
}

hr {
  background: #eee;
  height: 1px;
  border: none;
}

.translate input {
  width: 100%;
}

.translated {
  background: #27ae60;
  margin: 1em 0;
  padding: .3em 1em;
  border-radius: 3px;
  color: #fff;
}

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
    .header {
      padding-top: 2.5rem;
    }

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .layout {
      left: 0;
    }

    .total {
      text-align: right;
    }

    .diccionary .pure-button {
      font-size: 150%;
    }

    .header .logo {
      max-width: 100px;
      display: block;
      margin: 0 auto 1rem auto;
    }
}